<p>Bonjour {{ user.username }} !</p>
<p>Un nouveau mot de passe a été généré pour votre compte utilisateur Dyalna.</p>
<p>Voici votre nouveau mot de passe : <strong>{{ user.password }}</strong></p>
<p>Cordialement,</p>
<p>--</p>
<p>L'équipe Dyalna.</p>
