module.exports = {
  port: '4000',
  securityTokenName: process.env.IDENTITY_TOKEN,
  mailer: {
    transport: {
      service: 'Gmail',
      auth: {
        user: process.env.IDENTITY_GMAIL_USERNAME,
        pass: process.env.IDENTITY_GMAIL_PASSWORD
      }
    },
    activation: {
      from: 'Dyalna Identity <some-email@domain.com>',
      subject: 'Dyalna Identity : Confirm your email',
      activationLink: process.env.IDENTITY_ACTIVATION_LINK
    },
    lostPassword: {
      from: 'Dyalna Identity <some-email@domain.com>',
      subject: 'Dyalna Identity : Lost password ?',
      lostPasswordLink: process.env.IDENTITY_LOST_PASSWORD_LINK
    },
    regeneratePassword: {
      from: 'Dyalna Identity <some-email@domain.com>',
      subject: 'Dyalna Identity : Your new password'
    }
  },

  database: {
    production: {
      username: process.env.MYSQL_USERNAME,
      password: process.env.MYSQL_PASSWORD,
      database: process.env.MYSQL_DATABASE,
      host: process.env.MYSQL_HOST,
      dialect: 'mysql'
    }
  },

  features: {
    admin : {
      roles: ['superadmin']
    }
  },

  limitations: {
    /*'some-limit' : {
      'free': 1,
      'premium': 0
    }*/
  }
};
