<p>Bonjour {{ user.username }} !</p>
<p>Vous avez demandé un changement de mot de passe Dyalna. Cliquez sur le lien suivant pour générer un nouveau mot de passe. <a href="{{ link }}">{{ link }}</a></p>
<p>Veuilllez ignorez cet email si vous n'avez pas demandé de modification de mot de passe.</p>
<p>Cordialement,</p>
<p>--</p>
<p>L'équipe Dyalna.</p>
